@use '../../common//styles/variables' as *;

.page-footer {
  --footer-font-size: 12px;
  --footer-letter-spacing: 0.2px;
  --footer-side-space: 10%;
  --footer-content-gap: 30px;
  --footer-font: $robotoRegular;
  --footer-copyright-font: $robotoLight;

  font-size: var(--footer-font-size);
  letter-spacing: var(--footer-letter-spacing);
  padding: 1.25rem 0;

  .footer-content {
    width: calc(100% - (var(--footer-side-space) * 2));

    .left-pane {
      gap: var(--footer-content-gap);

      .brand-title {
        font-family: var(--footer-brand-font);
      }

      .copyright {
        font-family: var(--footer-copyright-font);
      }
    }
  }
}
